body{
font-family: "Roboto", sans-serif;
background: #fff;
color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

ul {
list-style: none;
margin-top: 0;
padding-left: 0;
}

a {
text-decoration: none;
}
button{
    cursor: pointer;
    }

img {
    display: block;
    max-width: 100%;
    height: auto;
    }

address{
    font-style: normal;
    }

/*! ------------------- */

/** -----header------- */

.container { 
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto; 
    }

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-navigation {

}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo-black{
color: #2e2f42;
}

.header-list {
}

.header-list-item {
}

.header-list-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-list-link:hover,.header-list-link:focus{
color: #404bbf;
}

.header-address {
font-style: normal;
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-address-link:hover,.header-address-link:focus{
color: #404bbf;
}
/* !------------------------- */

/** ---------hero----------- */
.hero{
    background:#2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
max-width: 496px;
margin-right: auto;
margin-left: auto;
}

.hero-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
display: block;
margin: 0 auto;
border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus{
background-color: #404BBF;
}
/*! --------------------------- */

/** -------advanteges--------- */
.advantages {
padding: 120px 156px 120px 156px;
margin: 0 auto;
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.advantages-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*! ------------------------- */

/**----------team------------*/
.team {
background-color: #F4F4FD
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
padding-top: 120px;
margin: 0 auto;
}

.team-list {
}

.team-list-wrap {
padding: 72px 156px 120px 156px;
margin:  0 auto;
}

.team-list-image {
background-color: #FFFFFF;
width: 264px;
height: 380px;
}

.team-image-info {
padding: 32px 16px;
}

.team-image-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
margin: 0 auto;
}

.team-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin: 0 auto;
}

/*! --------------------- */

/** ------portfolio------ */
.portfolio {
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-list {
background-color: #FFFFFF
}

.portfolio-list-image {
}

.team-image-info{
padding-top: 32px;
padding-right: 16px;
padding-bottom: 32px;
padding-left: 16px;
margin: 0 auto;
}

.portfolio-image-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-image-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*! ----------------- */

/** -----footer------ */
.footer {
background: #2e2f42;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-logo-white {
color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}